// $lightgreen: #b9e7e7;
$lightPink: #f6c3df;
$deepPink: #ef59ab;

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    // LOGIN && REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightPink;

      h1 {
        font-size: 20px;
        color: $deepPink;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;
      }

      input {
        border: none;
        border-bottom: 1px solid gray;
      }

      button {
        border: none;
        padding: 10px;
        background-color: $deepPink;
        color: white;
        cursor: pointer;
      }

      p {
        font-size: 13px;
        color: red;
        text-align: center;
      }

      span {
        font-size: 13px;
        text-align: center;

        .link {
          color: $deepPink;
          font-weight: bold;
          text-decoration: none;
          margin-left: 3px;
        }
      }
    }

    // NAVBAR
    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 15px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightPink;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;

            &:hover {
              height: 48px;
              width: 48px;
              background-color: white;
              color: $deepPink;
              border: 1px solid $deepPink;
            }
          }
        }
      }
    }

    // FOOTER
    footer {
      margin-top: 100px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: $lightPink;
      font-size: 12px;

      img {
        width: 100px;
      }
    }
  }
}
